<a href="https://colab.research.google.com/github/monikakaushik21/AI/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create the dataset
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 30],
    'Name': ['John Doe', 'Jane Smith', 'Alice Brown', 'Bob Johnson', 'Charlie Lee', np.nan, 'Ella White', np.nan, 'Henry Clark', 'Isaac Wood', 'Jodie Hall', 'Kevin Price', 'Zoe Green'],
    'Age': [28, 32, np.nan, 45, 29, 26, 31, 39, np.nan, 34, np.nan, 44, 27],
    'Email': ['john.doe@example.com', 'jane.smith@example.com', 'alice.brown@company.com', np.nan, 'charlie.lee@example.com', 'david.wong@example.com', 'ella.white@company.com', 'george.harris@example.com', np.nan, 'isaac.wood@example.com', 'jodie.hall@company.com', 'kevin.price@example.com', 'zoe.green@example.com'],
    'Date of Joining': ['15-01-2020', '01-08-2019', '10-03-2021', '22-07-2018', '01-12-2021', '14-05-2020', '17-09-2019', '23-11-2020', np.nan, '30-11-2019', '18-04-2021', np.nan, '29-10-2021'],
    'Salary': [50000, 60000, np.nan, 70000, 55000, 48000, np.nan, 62000, 53000, 59000, 64000, np.nan, 52000],
    'Department': ['Sales', 'Marketing', 'HR', 'IT', 'Sales', 'Marketing', 'IT', 'HR', 'Marketing', 'Sales', 'HR', 'IT', 'Marketing']
}

In [3]:
data

{'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 30],
 'Name': ['John Doe',
  'Jane Smith',
  'Alice Brown',
  'Bob Johnson',
  'Charlie Lee',
  nan,
  'Ella White',
  nan,
  'Henry Clark',
  'Isaac Wood',
  'Jodie Hall',
  'Kevin Price',
  'Zoe Green'],
 'Age': [28, 32, nan, 45, 29, 26, 31, 39, nan, 34, nan, 44, 27],
 'Email': ['john.doe@example.com',
  'jane.smith@example.com',
  'alice.brown@company.com',
  nan,
  'charlie.lee@example.com',
  'david.wong@example.com',
  'ella.white@company.com',
  'george.harris@example.com',
  nan,
  'isaac.wood@example.com',
  'jodie.hall@company.com',
  'kevin.price@example.com',
  'zoe.green@example.com'],
 'Date of Joining': ['15-01-2020',
  '01-08-2019',
  '10-03-2021',
  '22-07-2018',
  '01-12-2021',
  '14-05-2020',
  '17-09-2019',
  '23-11-2020',
  nan,
  '30-11-2019',
  '18-04-2021',
  nan,
  '29-10-2021'],
 'Salary': [50000,
  60000,
  nan,
  70000,
  55000,
  48000,
  nan,
  62000,
  53000,
  59000,
  64000,
  nan,
  52000],
 'Department': ['Sales',
  'Marketing',
  'HR',
  'IT',
  'Sales',
  'Marketing',
  'IT',
  'HR',
  'Marketing',
  'Sales',
  'HR',
  'IT',
  'Marketing']}

In [4]:
# Convert the dataset to a DataFrame
df = pd.DataFrame(data)

# 1. Handling Missing Values

# Drop rows where 'Name' or 'ID' is missing (Assuming these fields are critical)
df.dropna(subset=['Name', 'ID'], inplace=True)

# Fill missing 'Age' values with the mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing 'Salary' with the median salary
df['Salary'].fillna(df['Salary'].median(), inplace=True)

# Fill missing 'Email' with 'No Email' placeholder
df['Email'].fillna('No Email', inplace=True)

# Fill missing 'Date of Joining' with 'Unknown'
df['Date of Joining'].fillna('Unknown', inplace=True)

# 2. Data Type Conversion

# Convert 'Date of Joining' to datetime format
df['Date of Joining'] = pd.to_datetime(df['Date of Joining'], format='%d-%m-%Y', errors='coerce')

# 3. Remove Duplicates (if any)
df.drop_duplicates(inplace=True)

# 4. Standardizing Data (e.g., converting department names to title case)
df['Department'] = df['Department'].str.title()

# 5. Correcting or Removing Invalid Data
# Example: Ensure all salaries are positive numbers
df = df[df['Salary'] > 0]

# Display the cleaned DataFrame
print(df)

    ID         Name    Age                    Email Date of Joining   Salary  \
0    1     John Doe  28.00     john.doe@example.com      2020-01-15  50000.0
1    2   Jane Smith  32.00   jane.smith@example.com      2019-08-01  60000.0
2    3  Alice Brown  33.75  alice.brown@company.com      2021-03-10  57000.0
3    4  Bob Johnson  45.00                 No Email      2018-07-22  70000.0
4    5  Charlie Lee  29.00  charlie.lee@example.com      2021-12-01  55000.0
6    7   Ella White  31.00   ella.white@company.com      2019-09-17  57000.0
8    9  Henry Clark  33.75                 No Email             NaT  53000.0
9   10   Isaac Wood  34.00   isaac.wood@example.com      2019-11-30  59000.0
10  11   Jodie Hall  33.75   jodie.hall@company.com      2021-04-18  64000.0
11  12  Kevin Price  44.00  kevin.price@example.com             NaT  57000.0
12  30    Zoe Green  27.00    zoe.green@example.com      2021-10-29  52000.0

   Department
0       Sales
1   Marketing
2          Hr
3          It
4       Sales
6          It
8   Marketing
9       Sales
10         Hr
11         It
12  Marketing

<ipython-input-4-fb6a43964f62>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-4-fb6a43964f62>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace=True)
<ipython-input-4-fb6a43964f62>:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Email'].fillna('No Email', inplace=True)
<ipython-input-4-fb6a43964f62>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Date of Joining'].fillna('Unknown', inplace=True)